/* form styles */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #026C7C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #015b69;
}

/* floor button styles */

button img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

button {
    transition: 0.2s ease;
}

button:hover {
    cursor: pointer;
    background-color: darkcyan;
}

button:active {
    background-color: rgb(1, 105, 105);
}